# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Environment variables
.env

# Docker
Dockerfile
docker-compose.yml
docker-compose.*.yml
Makefile

# Node
**/node_modules
**/dist
companion/

# IDEs
.vscode
