# .env
LOGGER_LEVEL={your-logging-level-here}
LOG_FILE_PATH={your-log-file-path-here}

SQUAD_PLAYERS_LIST={your-squad-usernames-comma-separated}
SQUAD_PLAYERS_GUID_DICT={your-squad-usernames:guid-dict-string}

DISCORD_BOT_TOKEN={your-token-here}

FORTNITE_API_TOKEN={your-token-here}
FORTNITE_SEASON_ID=16
FORTNITE_DISCORD_ROLE=fortnite
FORTNITE_DISCORD_TEXT_CHANNEL_ID={your-discord-fortnite-text-channel-id}
FORTNITE_DISCORD_VOICE_CHANNEL_NAME={your-discord-fortnite-voice-channel-name}

TWITCH_CLIENT_ID={your-token-here}
TWITCH_CLIENT_SECRET={your-token-here}

DATABASE_HOST={your-host-here}
DATABASE_PORT={your-port-here}
DATABASE_USERNAME={your-username-here}
DATABASE_PASSWORD={your-password-here}
DATABASE_NAME={your-database-name-here}

DOWNLOADED_REPLAY_FILE_PATH={your-vps-file-path-replays}
FTPS_REPLAY_FILE_PATH={your-ftps-replay-file-path}

FTPS_HOST={your-ftp-host}
FTPS_PORT={your-ftp-port}
FTPS_USER={your-ftp-user}
FTPS_PASSWORD={your-ftp-password}