aiomysql~=0.2.0
beautifulsoup4~=4.13.3
bitstring~=4.3.0
cloudscraper~=1.2.71
discord.py~=1.7.1
flask~=3.1.0
fortnite-replay-reader~=0.3.0
openai~=1.66.2
pycryptodome~=3.21.0
pyyaml~=6.0.2
requests~=2.32.3
