aiomysql~=0.1.1
beautifulsoup4~=4.11.2
bitstring~=4.0.1
cloudscraper~=1.2.69
discord.py~=1.7.1
flask[async]~=3.0.3
fortnite-replay-reader~=0.3.0
openai~=0.27.0
pycryptodome~=3.17
python-dotenv~=1.0.0
requests~=2.31.0
